.main {
    min-height: 100vh;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100vh;
    width: 100%;
    /* border-bottom: 1px solid rgb(138, 138, 138); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home {
    background-image: url("/assets/bg.jpeg");
    background-position: left;
    background-size: cover;
    position: relative;
}

#Home > .content {
    padding: 2rem 3rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%,

        rgba(0, 0, 0, 1) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Home > .content > div {
    display: flex;
    justify-content: space-between;
}
#Home > .content > div > div:nth-child(1) {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Home > .content > div > div:nth-child(1) > img {
    margin-bottom: 20px;
}

#Home > .content > div > div:nth-child(1) > p {
    font-size: 1.7em;
    margin: 10px 0;
}

#Home > .content > div > div:nth-child(1) > a {
    cursor: pointer;
    font-size: 1.7em;
    margin: 10px 0 0 0;
}
#Home > .content > div > div:nth-child(1) > a:hover {
}
#Home > .content > div > div:nth-child(1) > a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background: white;
    transition: 0.5s ease-out;
    margin-top: 5px;
}
#Home > .content > div > div:nth-child(1) > a:hover:after {
    width: 100%;
}

#Home > .content > div > div:nth-child(1) > a:nth-child(3) {
    font-weight: bold;
}

#Home > .content > div > div:nth-child(1) > span {
    font-size: 1em;
    margin: 120px 0 10px 0;
}

#Home > .content > div > div:nth-child(2) {
    min-width: 250px;
    display: flex;
    flex-direction: column-reverse;
}
.chat {
    width: 100%;
    border-radius: 40px;
    background-color: rgb(5, 188, 5);
    padding: 10px 20px;
    font-size: 1.7rem;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.chat:hover {
    background-color: rgb(7, 158, 7);
}

.copyrights > p {
    width: 100%;
    text-align: center;
}

/* SECTION 2 */
.brandMission {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2.3em;
    padding: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* SECTION 3 */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 6rem;
    text-align: justify;
}
.about > h3 {
    margin: 0 0 60px 0;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 1.5em;
}
.about > p {
    font-size: 1.2em;
}
