.main {
    min-height: 100vh;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease;
}

.section,
.smallSection {
    width: 100%;
    /* border-bottom: 1px solid rgb(138, 138, 138); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    height: 100vh;
}

#Home {
    background-image: url("/assets/bg-new.jpg");
    background-position: top left;
    background-size: cover;
    position: relative;
    height: 102vh;
}

#Home > .content {
    padding: 3rem 4rem 2rem 4rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(
        180deg,
        rgba(1, 1, 1, 0) 96%,

        rgba(1, 1, 1, 1) 99%
    ); */
    /* background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%,

        rgba(0, 0, 0, 1) 100%
    ); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Home > .content > div {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-end;
    /* height: 100%; */
}
#Home > .content > div:nth-child(1) {
    flex-grow: 1;
    margin-bottom: 1rem;
}
#Home > .content > div > div:nth-child(1) {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* min-height: 82vh; */
    letter-spacing: 0.8px;
    height: 100%;

    /* position: relative; */
    background: rgba(78, 78, 78, 0.342);
    border-radius: 12px;
    padding: 1rem;
}

.logo {
    transition: 0.5s ease-out;
}
#Home > .content > div > div:nth-child(1) > img {
    margin-bottom: 20px;
    cursor: pointer;
}

#Home > .content > div > div:nth-child(1) > p {
    font-size: 1.1em;
    /* text-align: justify; */
}

#Home .description {
    /* margin: 0 0 5rem 0; */
    transition: 0.5s ease-out;
    transition-delay: 0.7s;
}
#Home .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#Home .navLink {
    cursor: pointer;
    font-size: 0.8em;
    margin: 0.2rem 0;
    transition: 0.5s ease-out;
    transition-delay: 1.2s;
    text-transform: uppercase;
}

#Home .navLink:hover {
}
#Home .navLink::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background: white;
    transition: 0.5s ease-out;
    /* margin-top: 1px; */
}
#Home .navLink:hover:after {
    width: 100%;
}
#Home .list > .navLink:nth-child(1) {
    /* font-weight: bold; */
    transition-delay: 0.9s;
}
#Home .list > .navLink:nth-child(2) {
    /* font-weight: bold; */
    font-size: 0.7em;
}

#Home > .content > div > div:nth-child(2) {
    /* display: flex;
    align-items: flex-end;
    width: 100%; */
    /* justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%; */
    /* margin-top: 8rem; */
}
#Home > .content > div > div:nth-child(2) > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#Home .poweredBy {
    display: flex;
    align-items: center;
    font-size: 0.6em;
    /* margin: 120px 0 10px 0; */
    /* margin: 0 0 0rem 0; */
    padding-bottom: 2px;
    /* margin-top: auto; */
    transition: 0.8s ease-out;
    transition-delay: 1.5s;
}
#Home .poweredBy img {
    margin-left: 0.5rem;
    cursor: pointer;
}

.chat {
    /* width: 100%; */
    border-radius: 80px;
    /* background-color: rgb(5, 188, 5); */
    background: linear-gradient(180deg, #56dd68, #2d9c2d);
    /* background: linear-gradient(180deg, #53cf64, #30a930); */
    /* background: linear-gradient(0deg, #1ebea5, #00e676); */
    padding: 8px;
    /* font-size: 1.2rem; */
    cursor: pointer;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 1s ease;
    transition-delay: 1.5s;
}
.chat:hover {
    background-color: rgb(0, 211, 0);
}
.chat > .popout {
    transition: 0.8s ease;
    height: 21px;
    overflow: hidden;
    text-align: left;
}
.chat > .popout > p {
    transition: 0.4s ease;
    transition-delay: 0.3s;
    margin: 0 0 0 0.8rem;
}

.chat:hover > p {
    /* border-bottom: 2px solid white; */
}

.copyrights {
    max-height: 15px;
    flex-grow: 0;
}
.copyrights > p {
    width: 100%;
    text-align: center;
}

/* SECTION 2 */
.brandMission {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 4rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

.brandMission > p:nth-child(1) {
    font-size: 2.3em;
    transition: 1.2s ease-out;
    transition-delay: 0.4s;
    margin-bottom: 1rem;
}
.brandMission > p:nth-child(2) {
    transition: 0.8s ease-out;
    transition-delay: 1.6s;
}

/* SECTION 3 */

.donations {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
}

.donations > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 2rem;
    height: 90px;
    /* text-align: justify; */
    /* letter-spacing: 1px; */
}

.donations > div > a {
    /* padding: 10px;
    border: 1px solid white; */
    margin-left: 2rem;
    position: relative;
    height: 90px;
    width: 100%;
    transition: 0.5s ease;
}
.donations > div > a:hover {
    height: 80px;
}

/* OVER SECTION - ABOUT US */

#OverSection {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(1, 1, 1, 1);
    transition: 0.7s ease;
    /* transform: translateX(100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 2rem 6rem; */
    padding: 5rem 6rem 4rem 6rem;
}
#OverSection > div:nth-child(1) {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    /* flex-direction: row-reverse; */
    /* height: 100px; */
    width: 100%;
    margin-bottom: 6rem;
}
#OverSection > div:nth-child(1) > div:nth-child(1) {
    height: 50px;
    /* width: 180px; */
    position: relative;
    cursor: pointer;
    /* background: white; */
}
#OverSection > div:nth-child(1) > span:nth-child(2) {
    cursor: pointer;
    font-weight: bold;
}
#OverSection > div:nth-child(1) > span:nth-child(2):hover {
    border-bottom: 2px solid white;
}
#OverSection > div:nth-child(2) {
    /* height: 100%; */
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    max-width: 1280px;
}
.about > h3 {
    margin: 0 0 60px 0;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 1.5em;
}
.about > p {
    font-size: 1.2em;
}

/* RESPONSIVENESS */

@media screen and (min-width: 1280px) {
    #Home > .content {
        padding: 3rem 3rem 2rem 3rem;
    }
    #OverSection > div:nth-child(1) {
        margin-bottom: 0;
    }
    #OverSection > div:nth-child(2) {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1420px) {
    .brandMission > p:nth-child(1) {
        font-size: 1.8em;
    }
}
@media screen and (max-width: 1279px) {
    /* #Home > .content > div > div:nth-child(1) > p {
        font-size: 1.1em;
    } */
    /* #Home .poweredBy {
        font-size: 0.6em;
    } */
    .copyrights > p {
        font-size: 0.8em;
    }
    /* .brandMission > p:nth-child(1) {
        font-size: 1.4em;
    } */
}

@media screen and (max-width: 960px) {
    /* .brandMission > p:nth-child(1) {
        font-size: 1.15em;
    } */
    /* #Home {
        background-position: top left;
    } */

    #OverSection {
        padding: 4rem 3rem 3rem 3rem;
        overflow-y: auto;
    }
    #OverSection > div:nth-child(1) {
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 720px) {
    #Home > .content {
        padding: 2rem;
    }
    #OverSection {
        padding: 2rem 2rem 2rem 2rem;
    }
    .about p {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    #Home {
        background-position: top left -200px;
    }
    #Home > .content {
        padding: 1rem;
    }
    .donations > div {
        flex-direction: column;
        text-align: center;
        max-width: 350px;
        height: auto;
    }
    .donations > div > p {
        margin-bottom: 2rem;
    }
    .donations > div > a {
        margin-left: 0;
    }
    #OverSection {
        padding: 1rem 2rem;
    }
    #OverSection > div:nth-child(1) {
        margin-bottom: 1rem;
    }
    .about {
    }
    .about p {
        font-size: 0.95em;
    }
}
@media screen and (max-height: 500px) {
    #Home > .content {
        padding: 1rem;
    }
    #OverSection {
        padding: 2rem;
        overflow-y: auto;
    }
}

@media screen and (max-width: 450px) and (min-device-height: 720px) and (orientation: portrait) {
    #Home {
        background-position: top left -350px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
    /* Styles */
    #Home {
        background-position: top left -300px;
    }
}
