.main {
    min-height: 100vh;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease;
}

.section,
.smallSection {
    width: 100%;
    /* border-bottom: 1px solid rgb(138, 138, 138); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    height: 100vh;
}

#Home {
    background-image: url("/assets/bg.jpeg");
    background-position: left;
    background-size: cover;
    position: relative;
    height: 102vh;
}

#Home > .content {
    padding: 2rem 3rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(1, 1, 1, 0) 96%,

        rgba(1, 1, 1, 1) 99%
    );
    /* background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%,

        rgba(0, 0, 0, 1) 100%
    ); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Home > .content > div {
    display: flex;
    justify-content: space-between;
}
#Home > .content > div > div:nth-child(1) {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* max-height: 66vh; */
}

.logo {
    transition: 0.5s ease-out;
}
#Home > .content > div > div:nth-child(1) > img {
    margin-bottom: 20px;
}

#Home > .content > div > div:nth-child(1) > p {
    font-size: 1.7em;
}

#Home .description {
    margin: 2.5rem 0 4rem 0;
    transition: 0.5s ease-out;
    transition-delay: 0.7s;
}
#Home .navLink {
    cursor: pointer;
    font-size: 1.7em;
    margin: 0.5rem 0;
    transition: 0.5s ease-out;
    transition-delay: 1.2s;
}
#Home .navLink:hover {
}
#Home .navLink::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background: white;
    transition: 0.5s ease-out;
    margin-top: 5px;
}
#Home .navLink:hover:after {
    width: 100%;
}
#Home .navLink:nth-child(3) {
    font-weight: bold;
    transition-delay: 0.9s;
}

#Home > .content > div > div:nth-child(1) > span {
    font-size: 1em;
    /* margin: 120px 0 10px 0; */
    margin-top: auto;
    transition: 0.8s ease-out;
    transition-delay: 1.5s;
}

#Home > .content > div > div:nth-child(2) {
    /* min-width: 250px; */
    display: flex;
    flex-direction: column-reverse;
    min-height: 89vh;
}
.chat {
    /* width: 100%; */
    border-radius: 80px;
    /* background-color: rgb(5, 188, 5); */
    background: linear-gradient(180deg, #56dd68, #2d9c2d);
    /* background: linear-gradient(180deg, #53cf64, #30a930); */
    /* background: linear-gradient(0deg, #1ebea5, #00e676); */
    padding: 8px;
    /* font-size: 1.2rem; */
    cursor: pointer;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 1s ease;
    transition-delay: 1.5s;
}
.chat:hover {
    background-color: rgb(0, 211, 0);
}
.chat > .popout {
    transition: 0.8s ease;
    height: 21px;
    overflow: hidden;
    text-align: left;
}
.chat > .popout > p {
    transition: 0.4s ease;
    transition-delay: 0.3s;
    margin: 0 0 0 0.8rem;
}

.chat:hover > p {
    /* border-bottom: 2px solid white; */
}

.copyrights > p {
    width: 100%;
    text-align: center;
}

/* SECTION 2 */
.brandMission {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

.brandMission > p:nth-child(1) {
    font-size: 2.3em;
    transition: 1.2s ease-out;
    transition-delay: 0.4s;
    margin-bottom: 1rem;
}
.brandMission > p:nth-child(2) {
    transition: 0.8s ease-out;
    transition-delay: 1.6s;
}

/* SECTION 3 */

.donations {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.donations > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    /* text-align: justify; */
    /* letter-spacing: 1px; */
}

.donations > div > a {
    /* padding: 10px;
    border: 1px solid white; */
    margin-left: 2rem;
    position: relative;
    height: 90px;
    width: 100%;
    transition: 0.5s ease;
}
.donations > div > a:hover {
    height: 85px;
}

/* OVER SECTION - ABOUT US */

#OverSection {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(1, 1, 1, 1);
    transition: 0.7s ease;
    /* transform: translateX(100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 6rem;
}
#OverSection > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row-reverse; */
    height: 100px;
    width: 100%;
    margin-bottom: 4rem;
}
#OverSection > div:nth-child(1) > div:nth-child(1) {
    height: 100px;
    width: 180px;
    background: white;
}
#OverSection > div:nth-child(1) > span:nth-child(2) {
    cursor: pointer;
    font-weight: bold;
}
#OverSection > div:nth-child(1) > span:nth-child(2):hover {
    border-bottom: 2px solid white;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    max-width: 1280px;
}
.about > h3 {
    margin: 0 0 60px 0;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 1.5em;
}
.about > p {
    font-size: 1.2em;
}

/* RESPONSIVENESS */

@media screen and (min-width: 1280px) {
    #Home > .content > div > div:nth-child(2) {
        min-height: 93vh;
    }
}
@media screen and (max-width: 720px) {
}
